#body-container {
  font-family: Helvetica;
  margin: 0 auto;
}


.note-div {
  width: 200px;
  display: inline-block;
}

.note-textbox {
  width: 100%;
  background-color: pink;
  border-radius: 6px;
  border: 1px solid;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
}

.remove-note-div {
  text-align: right;
}

.remove-note-icon {
  position: relative;
  left: 5px;
  top: 35px;
  color: #777;
  background-color: none;
  border: 0;
  z-index: 2;
  padding: 0 7px;
  cursor: pointer;
}

.add-tag-div{
  width: 70%;
  margin: 0 auto;
}

.add-tag-label{
  font-size: 12px;
  display: inline;

}

.add-tag-form{
  width: 80px;
  display: inline;
}

.tag{
  font-size: 10px;
  background-color: steelblue;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  overflow: visible;
}

